<nav class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid mx-3">

    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "home.png" %>
    <% end %>

    <%= link_to chats_path, data: { turbo_method: :post }, class: "navbar-brand" do %>
      <%= image_tag "logo_chatbot.png" %>
    <% end %>

    <%# #ajouter un if pour link vers le games path quand on est connecté et sinon rediriger vers la home %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to profile_path, class: "avatar" do %>
              <%= image_tag "avatar.png" %>
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
