<div class="chat-page" data-controller="chat-sidebar">

  <header class="chat-header">
    <button class="chat-header__back" data-action="click->chat-sidebar#open">
      <i class="fa-solid fa-chevron-left"></i>
    </button>
    <div class="chat-header__titles">
      <span class="chat-header__app-name">matIA</span>
      <span id="chat_title" class="chat-header__chat-title"><%= @chat.title %></span>
    </div>
    <%= button_to chats_path, method: :post, class: "chat-header__new", form: { style: "display:contents" } do %>
      <i class="fa-solid fa-plus"></i>
    <% end %>
  </header>

  <div class="chat-sidebar">
    <div class="chat-sidebar__overlay" data-action="click->chat-sidebar#close"></div>
    <div class="chat-sidebar__panel">
      <div class="chat-sidebar__header">
        <div class="chat-sidebar__header-left">
          <span class="chat-sidebar__heading">Chats</span>
          <%= button_to chats_path, method: :post, class: "chat-sidebar__create" do %>
            <i class="fa-solid fa-plus"></i> Create new
          <% end %>
        </div>
        <button class="chat-sidebar__close" data-action="click->chat-sidebar#close">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
      <div class="chat-sidebar__list">
        <% current_user.chats.order(updated_at: :desc).each do |chat| %>
          <%= link_to chat_path(chat), class: "chat-sidebar__item #{'chat-sidebar__item--active' if chat.id == @chat.id}" do %>
            <i class="fa-solid fa-message chat-sidebar__item-icon"></i>
            <span class="chat-sidebar__item-title"><%= chat.title %></span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <%= turbo_stream_from @chat %>

  <div class="chat-messages" id="chat-messages" data-controller="autoscroll">
    <% @messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>

  <div class="chat-input-bar">
    <div id="new_message_container">
      <% if @limit_reached %>
        <p class="chat-limit-notice">🔒 Message limit reached</p>
        <%= button_to chats_path, method: :post, class: "btn btn-primary w-100 py-3 home-cta" do %>
          <i class="fa-solid fa-message me-2"></i>Start a new chat
        <% end %>
      <% else %>
        <%= render "messages/form", chat: @chat, message: Message.new %>
      <% end %>
    </div>
  </div>

</div>
