<div class="chat-page">

  <header class="chat-header">
    <div class="chat-header__icon">
      <i class="fa-solid fa-wand-magic-sparkles"></i>
    </div>
    <div>
      <p class="chat-header__eyebrow">RECOMMENDATION ASSISTANT</p>
      <h1 class="chat-header__title">matIA <span id="chat_title" class="chat-header__chat-id">- <%= @chat.title %></span></h1>
    </div>
  </header>

  <%= turbo_stream_from @chat %>

  <div class="chat-messages" id="chat-messages" data-controller="autoscroll">
    <% @messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>

  <div class="chat-input-bar">
    <div id="new_message_container">
      <% if @limit_reached %>
        <p class="chat-limit-notice">🔒 Message limit reached</p>
        <%= button_to chats_path, method: :post, class: "btn btn-primary w-100 py-3 home-cta" do %>
          <i class="fa-solid fa-message me-2"></i>Start a new chat
        <% end %>
      <% else %>
        <%= render "messages/form", chat: @chat, message: Message.new %>
      <% end %>
    </div>
  </div>

</div>
