<h1><%= @game.title %></h1>

<p><strong>Platform:</strong> <%= @game.platform %></p>
<p><strong>Genre:</strong> <%= @game.genre %></p>
<p><strong>Release date:</strong> <%= @game.release_date %></p>
<p><strong>Description:</strong> <%= @game.description %></p>
<p><strong>Status:</strong> <%= @game.collection_status %></p>

<%= link_to "Back to wishlist", games_path %>

<div class="row">
  <div class="col">
    <h1><%= @game.name %></h1>
    <%= raw(render_markdown(@game.content)) %>
  </div>
  <div class="col-md-3">
    <h2>Chats</h2>
    <div class="mb-4">
      <% if @chats.any? %>
        <ul>
          <% @chats.each do |chat| %>
            <li><%= link_to chat.title, chat_path(chat) %></li>
          <% end %>
        </ul>
      <% else %>
        There are no chats yet.
      <% end %>
    </div>
  </div>
</div>
